<h2>Sök kurser</h2>

<input type="text" placeholder="Sök efter kurskod eller kursnamn" [(ngModel)]="searchField" />

<select [(ngModel)]="selectSubject">
    <option value="Alla ämnen">Alla ämnen</option>
    <option *ngFor="let subject of subjects" [value]="subject"> {{ subject }}
    </option>
</select>

<div>
    <label>
        <input type="checkbox" [(ngModel)]="selectLevels.GR" /> Grundnivå
    </label>

    <label>
        <input type="checkbox" [(ngModel)]="selectLevels.AV" />Avancerad nivå
    </label>

    <label>
        <input type="checkbox" [(ngModel)]="selectLevels.BE" />Behörighetsgivande
    </label>

    <label>
        <input type="checkbox" [(ngModel)]="selectLevels.FO" /> Forskarnivå
    </label>

    <label>
        <input type="checkbox" [(ngModel)]="selectLevels.X" /> Övrigt
    </label>
</div>

<div>

</div>

<table>
    <thead>
        <tr>
            <th (click)="sortByCourseCode()">Kurskod</th>
            <th (click)="sortByCourseName()">Kursnamn</th>
            <th (click)="sortByPoints()">Poäng</th>
            <th (click)="sortBySubject()">Ämne</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td> {{ course.courseCode }}</td>
            <td> {{ course.courseName }}</td>
            <td> {{ course.points }}</td>
            <td> {{ course.subject }}</td>
        </tr>
    </tbody>
</table>