/*Global style*/
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    line-height: 1.7;
    min-height: 100vh;
}

/*Header style*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(12, 12, 65);
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(44, 43, 50);
    text-align: left;
    font-size: 2rem;
    color: rgb(44, 43, 50);
    border-bottom: 3px solid rgb(157, 137, 137);
    margin: 3.5rem 0 1.5rem 0;
}

/*Footer style*/
footer {
    background-color: rgb(12, 12, 65);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/*Reduce size of logotype on smaller screens*/
@media (max-width: 705px) {
    .logo {
        width: 200px;
    }
}